<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-row class="center-row">
      <ion-col>
        <ion-button type="submit" (click)="onResetPassword(email)">Solicitar cambio de clave</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="center-row">
      <ion-col>
        <p>
          <a routerLink="/login">Volver </a>
        </p>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
